/* for mobile devices */
@media screen and (max-width: 576px) {
    #navbar , ul,
    #popular_tours{
        flex-direction: column;
    }
    .banner{
        border-radius: 8px;
        padding: 30px 0;
    }
    .banner_title{
        font-size: 1.5rem;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    form input, select {
        width: 100%;
    }
    .popular_tours_content .heading{
        font-size: 1.3rem;
    }
    #popular_tours .popular_tours_img img{
        width: 100%;
    }
}

/* for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    #popular_tours{
        flex-direction: column;
        text-align: center;
    }
    #popular_tours .popular_tours_content .description, ul li{
        text-align: left;
    }
}
