/* for mobile devices */
@media screen and (max-width: 576px) {
  #navbar,
  ul,
  #popular_tours,
  #newsletter {
    flex-direction: column;
  }
  ul{
    gap: 10px;
  }
  .logo img{
    width: 30px;
    height: 35px;
  }
  .banner {
    border-radius: 8px;
    padding: 30px 0;
  }
  .banner_title {
    font-size: 1.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  form input,
  select {
    width: 100%;
  }
  .popular_tours_content .heading {
    font-size: 1.3rem;
  }
  #popular_tours .popular_tours_img img {
    width: 100%;
  }
  .destination_img_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 170px);
    gap: 15px;
  }
  .box_1 {
    grid-column: 1/-1;
  }
  .box_2 {
    grid-column: 1/-1;
  }
  .box_3 {
    grid-column: 1/-1;
  }
  .box_4 {
    grid-column: 1/-1;
  }
  .box_5 {
    grid-column: 1/-1;
  }
  .box_6 {
    grid-column: 1/-1;
  }
  .box_7 {
    grid-column: 1/-1;
  }
  #destination .heading {
    font-size: 1.5rem;
  }
  .choose_card_container {
    grid-template-columns: 1fr;
  }
  #newsletter {
    gap: 10px;
  }
  .newsletter_img img {
    width: 100%;
  }
  .save_up {
    width: 160px;
    height: 80px;
    padding: 5px;
  }
  .save_up .save_up_site {
    font-size: 1rem;
  }
  .save_up .save_up_heading {
    font-size: 1.2rem;
  }
  footer .logo .navigation_title {
    font-size: 1.5rem;
  }
}

/* for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  #popular_tours,
  #newsletter {
    flex-direction: column;
    text-align: center;
  }
  #popular_tours .popular_tours_content .description,
  ul li {
    text-align: left;
  }
  .box_1 {
    grid-column: 1/7;
  }
  .box_2 {
    grid-column: 7/-1;
  }
  .box_3 {
    grid-column: 1/5;
  }
  .box_4 {
    grid-column: 5/9;
  }
  .box_5 {
    grid-column: 9/-1;
  }
  .box_6 {
    grid-column: 1/7;
  }
  .box_7 {
    grid-column: 7/-1;
  }
  .choose_card_container {
    grid-template-columns: 1fr;
  }
  .choose_card:nth-child(3) {
    max-width: 100%;
  }
}
